body
{
	margin: 0;
	padding: 0;	
}

.container
{
	width: 100%;
}

.navbar
{
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: auto;
	width: 100%;
	height: 50px;
	padding: 10px;
	background-color: aqua;
}

.navbar .judul 
{
	margin-left: 25px;
}

.navbar ul li
{
	list-style: none;
}
.navbar ul
{
	margin-right: 25px;
}

.navbar ul li .menubar
{
	width: 200px;
	display: flex;
}

.navbar ul li a
{
	text-decoration: none;
	margin-right: 10px;
	color: black;
	font-size: 20px;
}